<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/style2.css">
    <title>Titre de ton document</title>
</head>

<body>

    <header>
            <nav id="nav1">
                <i class="fa-brands fa-phoenix-framework"></i>
                <h1>Phoenix</h1>
                <a href="#destination">Choisir une destination</a>
                <a href="#payer"><span>Payer</span></a>
            </nav>
    </header>
    <main>
        <img src="/assets/img/turkoise.jpg" alt="turkoise" id="turkoise">
        <div class="container">
            <div class="haut">
                <img src="/assets/img/caraibes_martinique_boucaniers.jpg" alt="caraibes_martinique_boucaniers">
                <h2>Les Boucaniers</h2>
                <p>Apres les eaux calmes, partez à la découvertedes spectaculaires cascades des gorges de la Falaise, à
                    trinité.</p>
                <button>Réserver maintenant !</button>

            </div>

            <!-- Espace -->

            <div class="haut">
                <img src="/assets/img/sicile_kamarina.jpg" alt="Karmina">
                <h2>Karmina</h2>
                <p>Bienvenue au pays de l'Etna où ruelles escarpées et places en fleures s'ouvrent sur la Méditerranée
                </p>
                <button>Réserver maintenant !</button>

            </div>

            <!-- Espace -->

            <div class="haut">
                <img src="/assets/img/maldives_fino.jpg" alt="maldives_fino">
                <h2>Finohlu</h2>
                <p>Instants inoubliables sur une île privative où luxe et charme naturel des Maldives s'équilibres à
                    merveilles.</p>
                <button>Réserver maintenant !</button>

            </div>

            <!-- Espace -->

            <div class="haut">
                <img src="/assets/img/maurice_albion.jpg" alt="maurice_albion">
                <h2>Albion suavage</h2>
                <p>Au cœur de l’Ile, un swing au golf, l’adrénaline du trapèze volant ou la beauté des fonds marins ...
                    que choisir ?</p>
                <button>Réserver maintenant !</button>

            </div>

            <!-- Espace -->

            <div class="haut">
                <img src="/assets/img/maldives_kani.jpg" alt="Kani">
                <h2>Kani</h2>
                <p>Ile-jardin posée sur des eaux turquoises, découvrez le paradis au cœur de l'archipel des Maldives.
                </p>
                <button>Réserver maintenant !</button>

            </div>

            <!-- Espace -->

            <div class="haut">
                <img src="/assets/img/grece_gregolimano.jpg" alt="grece_gregolimano">
                <h2>Gregolimano</h2>
                <p>L’île d’Eubée est un oasis entre mer et oliviers ... plongez dans les eaux azures de la mer Egée ...
                    en ski nautique</p>
                <button>Réserver maintenant !</button>

            </div>


        </div>
    </main>

    <footer>
        <nav>
            <ul>
                <li>
                    <i class="fa-solid fa-umbrella-beach"></i>
                    Vos vacances de rêve...
                </li>
                <li>
                    <i class="fa-solid fa-sun"></i>
                    Plage...
                </li>
                <li><i class="fa-solid fa-city"></i>
                    Urbain
                </li>
                <li>
                    <i class="fa-brands fa-docker"></i>
                    Croisière...
                </li>
                <li>
                    <i class="fa-solid fa-image"></i>
                    Montagne...
                </li>
                <li>
                    <i class="fa-solid fa-euro-sign"></i>
                    A prix tout doux...
                    <i class="fa-solid fa-umbrella-beach"></i>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="https://kit.fontawesome.com/c0bd8faac8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>