<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/style3.css">
    <title>Titre de ton document</title>
</head>

<body>

    <header>
        <nav id="nav1">
            <i class="fa-brands fa-phoenix-framework"></i>
            <h1>Phoenix</h1>
            <a href="#destination">Choisir une destination</a>
            <a href="#payer"><span>Payer</span></a>
        </nav>
    </header>
    <main>
        <img src="/assets/img/maurice.jpg" alt="maurice" id="maurice">


    </main>
    <footer>
        <nav>
            <ul>
                <li>
                    <i class="fa-solid fa-umbrella-beach"></i>
                    Vos vacances de rêve...
                </li>
                <li>
                    <i class="fa-solid fa-sun"></i>
                    Plage...
                </li>
                <li><i class="fa-solid fa-city"></i>
                    Urbain
                </li>
                <li>
                    <i class="fa-brands fa-docker"></i>
                    Croisière...
                </li>
                <li>
                    <i class="fa-solid fa-image"></i>
                    Montagne...
                </li>
                <li>
                    <i class="fa-solid fa-euro-sign"></i>
                    A prix tout doux...
                    <i class="fa-solid fa-umbrella-beach"></i>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="https://kit.fontawesome.com/c0bd8faac8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>