header {
    background-color: #75c9c8;
}

#nav1 {
    display: flex;
    margin: 0 12%;
}

#phoenix {
    width: 2rem;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

span {
    color: rgba(0, 0, 0, 0.579);
}


#maurice {
    width: 80%;
    height: 21rem;
    display: block;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
}


.middle {
    width: 20%;
    border: 2px solid #75c9c8;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 3%;
    border-radius: 3%;
    z
}

#bouca-img {
    width: 18.4rem;
    height: 80px;
    border-radius: 2px;
}

p {
    background-color: #8ecfce;
}

button {
    border: 2px solid #75c9c8;
    background-color: white;
    color:#75c9c8;
    margin: 0 5%;
    width: 90%;
    margin: 5px;
    border-radius: 5px;
}


footer {
    background-color: #75c9c8;
    height: 2rem;
}

ul {
    text-align: center;
    padding: 2px;
}

li {
    list-style-type: none;
    display: inline;
    color: #787878;
    padding: 5px;
    
}